include LICENSE.txt
include README.rst
# recursive-include hubspot_blog/locale *
# recursive-include hubspot_blog/statics *
recursive-include djangocms_hubspot_blog/templates *
recursive-include djangocms_hubspot_blog/migrations *
recursive-include djangocms_hubspot_blog/management *
